* {
  box-sizing: border-box;
}
.boxSet {

    min-height:1500px;
    height: auto;

}
/*
.box {

    background-color: palevioletred;
    position: absolute;
    height: 100px;
    width: 100px;
    border: 2px solid black;

}
*/
.box1 {
    float: left;
}

.box2 {
    float: left;   
    
}

.box3 {    
    float: left;

}

.box4 {
    float: left;
}

.box5 {
    float:left;    
}

.hiddenBox {
    invisible;
}