*{
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';   
}

nav {
    background-color: #fff;
    width: 100%;
    height: 90px;
    position: relative;
    top: 0;
}

.navLeft {
    background-color: teal;
    color: #fff;
    font-size: 24px;
    height: 100%;
    width: 250px;   
    display: inline-block;  /*realigned ul in nav*/
    text-align: center;
    line-height: 90px;
    margin-left: 80px;
}

.navRight {
    float: right;
    margin-right: 150px;    
}

ul {
    font-size: 16px;   
}

ul li {    
    display: inline-block;    /* ul is listed horizontally */
    list-style: none;         /* removes bullets & all style from ul*/
    line-height: 100px;       /*equal to nav height  */  
}

ul li a {    
    text-decoration: none; /*gets rid of underline on text link */
    color: #787a94;
    padding: 0 20px;
    display: block; /*creates box so bigger area to click on link*/
    clear: both;
    overflow: auto;
}

body {
    background-color: #c3c6dabb;      
}

.container {
    background-color: #fff;
    width:960px;
    height: 500px;

    margin: 50px 0 100px 80px;
    padding: 0 30px 10px;
    
}

img {
    float:left;
    margin: 30px 20px 10px 0;
   
}
.container1 {
    margin: 20px 0 0;
    max-width: 940px;
}

h1 {
    color:teal;
    font-size: 24px;
    font-weight: bolder;
    display: inline-block;
    padding: 20px 0;
}

p {
    margin: 22px 0;
    font-size: 16px;
    line-height: 30px;
    padding: 0 0 5px 0;
}

.clear {              /*use to clear float elements*/
    clear:both;
    overflow: auto;
}

footer {
    background-color: #63626d;
    color: white; 
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;        /*sets it flush to the bottom of page*/
    left: 0;  
    border-top: 10px solid teal;
    border-top-color: teal;
}

.footerCenter {
    padding-top: 40px; 
    text-align: center;
}

.container2 {
    margin-top: 20px;
    font-size: 18px;
    max-width: 940px;
}

.showForm {
    padding: 0 10px 10px 0;
    line-height: 30px;
    color: #787a94;

}

label {
    display: block;
}

input, textarea {
    display: block;
}

#name {
    width: 100%;         /*extends boxes to full width of form*/
}

#email {
    width: 100%;         /*extends boxes to full width of form*/
}
#message {
    width: 100%;         /*extends boxes to full width of form*/
    height: 100px;
}
#submit {
    background-color: teal;
    color: #fff;
    font-size: 18px;
    padding: 5px;
}